.circularButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: white; /* Orange color */
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  transition: background-color 0.3s, transform 0.3s;
}

.circularButton:hover {
  width: 50px;
  border-radius: 45px;
  transition: .2s linear;
  transform: scale(1);
}

.arrow {
  font-size: 20px;
  color: rgb(255, 115, 37);
  transition: width 0.3s, transform 0.3s;
}

.circularButton:hover .arrow {
  transform: scale(1.5);
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
